<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="brand-color" content="#ed8e11">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="/style.min.css" rel="stylesheet">

    <!-- <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->

    <title>Orientierungswoche Psychologie Goethe Uni Frankfurt</title>
</head>

<body>
    <div login class="login-overlay" v-bind:class="{ loggedin: loggedIn }">
        <div class="login-form content-tube">
            <h2 class="login-heading">Goethe Universität Psychologie</h2>

            <input v-model="email" class="login-input" placeholder="E-Mail..." type="email">

            <input v-model="password" class="login-input" placeholder="Passwort..." type="password">
            <p v-if="loginError" style="color: red">
                Invalid password
            </p>

            <button @click="login">
                Login
            </button>
        </div>
    </div>

    <div header v-html="content" class="article">
    </div>

    <header calendar class="calendar">
        <div>
            <div class="day-spacer"></div>
            <!-- <div class="timespan">08:00-08:30</div>
            <div class="timespan">08:30-09:00</div>
            <div class="timespan">09:00-09:30</div>
            <div class="timespan">09:30-10:00</div>
            <div class="timespan">10:00-10:30</div>
            <div class="timespan">10:30-11:00</div>
            <div class="timespan">11:00-11:30</div>
            <div class="timespan">11:30-12:00</div>
            <div class="timespan">12:00-12:30</div>
            <div class="timespan">12:30-13:00</div> -->
            <div class="timespan">13:00-13:30</div>
            <div class="timespan">13:30-14:00</div>
            <div class="timespan">14:00-14:30</div>
            <div class="timespan">14:30-15:00</div>
            <div class="timespan">15:00-15:30</div>
            <div class="timespan">15:30-16:00</div>
            <div class="timespan">16:00-16:30</div>
            <div class="timespan">16:30-17:00</div>
            <div class="timespan">17:00-17:30</div>
            <div class="timespan">17:30-18:00</div>
            <div class="timespan">18:00-18:30</div>
            <div class="timespan">18:30-19:00</div>
            <div class="timespan">19:00-19:30</div>
            <div class="timespan">19:30-20:00</div>
            <div class="timespan">20:00-20:30</div>
            <div class="timespan">20:30-21:00</div>
            <div class="timespan">21:00-21:30</div>
            <div class="timespan">21:30-22:00</div>
            <div class="timespan">22:00-22:30</div>
            <div class="timespan">22:30-23:00</div>
            <div class="timespan">23:00-23:30</div>
            <div class="timespan">23:30-00:00</div>
        </div>
        <div v-for="day in days">
            <div class="day">
                {{ day.moment.format('dddd') }}<br>
                {{ day.moment.format('DD.MM.') }}
            </div>
            <div v-for="n in 22"></div>
            <div
                v-bind:class="getEventClasses(event)"
                v-for="event in day.events"
                v-on:click="scrollTo(event)"
                v-bind:style="{ backgroundColor: event.color }"
            >
                {{ event.name.substr(0, 20) }}
            </div>
        </div>
    </header>

    <main events>
        <section class="category">
            <section class="event content-tube">
                <h2>Meine Events:</h2>

                <ul>
                    <li v-for="signup in mySignups">
                        {{ signup }}
                    </li>
                </ul>
            </section>

            <section
                :id="event._id"
                v-for="event in events"
                :style="{ backgroundColor: event.color, color: isDark(event) ? 'white' : 'black' }"
                class="event content-tube"
            >
                <h2>
                    {{ event.name }}
                    <small class="new-line">
                        {{ getTimeSpanString(event) }}, Treffpunkt: {{ event.location }}
                    </small>
                </h2>

                <p v-html="event.description"></p>

                <div class="signup">
                    <button
                        v-if="!isSignedUp(event) && !isFull(event)"
                        @click="signUp(event._id)"
                        :style="{ borderColor: isDark(event) ? 'white' : 'black' }"
                    >
                        Anmelden
                    </button>
                    <button
                        v-if="isSignedUp(event)"
                        @click="signOff(event._id)"
                        :disabled="isFull(event)"
                        :style="{ borderColor: isDark(event) ? 'white' : 'black' }"
                    >
                        Abmelden
                    </button>
                    <img class="icon" src="/person.svg" :style="{ filter: isDark(event) ? 'invert(1)' : '' }">
                    {{ event.signups.length }}/{{ event.capacity }}
                </div>

                Kontakt: {{ event.contactName }} {{ event.email }}
            </section>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>moment.locale('de')</script>
    <script src="https://unpkg.com/vue"></script>
    <script src="/app.js"></script>
</body>

</html>
