<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="brand-color" content="#ed8e11">

    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700" rel="stylesheet">
    <link href="/style.min.css" rel="stylesheet">
    <link href="/tabStyles.css" rel="stylesheet">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Orientierungswoche Psychologie Goethe Uni Frankfurt</title>
</head>

<body>

  </div>
    <div login class="login-overlay" v-bind:class="{ loggedin: loggedIn }">
        <div class="login-form content-tube">
            <h2 class="login-heading">Goethe Universität Psychologie</h2>

            <input v-model="email" class="login-input" placeholder="E-Mail..." name="email" type="email" id="email-input" onkeyup="this.value = this.value.toLowerCase();">

            <input v-model="password" class="login-input" placeholder="Passwort..." name="password" type="password">
            <p v-if="loginError" v-cloak style="color: red">
                Ungültiges Passwort
            </p>

            <p>

            </p>

            <button
                @click="login"
                class="login-button"
                :disabled="!email || !password"
            >
                Login
            </button>
        </div>
    </div>

    <div class="nav_bar">
      <ul>
        <li><a href="index.html" id="onlink">Home</a></li>
        <li><a href="projekte.html">Projekte</a></li>
        <li><a href="links.html">Links</a></li>
      </ul>
    </div>

    <div header v-html="content" class="content-tube article">
    </div>

    <main events>
        <section class="category">
            <section class="event content-tube">
                <h2>Meine Events:</h2>

                <p v-show="mySignups.length == 0">
                    Du hast dich bisher zu keinem Event angemeldet
                </p>

                <ul id="signUpList">
                    <li v-for="signup in mySignups">
                        {{ signup }}
                    </li>
                </ul>

            </section>

            <section
                :id="event._id"
                v-for="event in events"
                :style="{ backgroundColor: event.color, color: isDark(event) ? 'white' : 'black' }"
                class="event content-tube"
                :class="{ 'event--first-in-category': event.isFirstIncategory }"
            >
                <h1 v-if="event.isFirstIncategory" class="category-heading">
                    {{ event.category }}
                </h1>

                <h2>
                    {{ event.name }}
                    <small class="new-line">
                        {{ getTimeSpanString(event) }}, Treffpunkt: {{ event.location }}
                    </small>
                </h2>

                <div v-html="event.description"></div>

                <div class="signup">
                    <button
                        v-if="!event.removeSignUpButton && !isSignedUp(event) && !isFull(event)"
                        @click="alertTooMany() + signUp(event._id)"
                        :style="{ borderColor: isDark(event) ? 'white' : 'black' }"
                    >

                    <script>
                    function alertTooMany() {
                      if(document.getElementById("signUpList").getElementsByTagName("li").length >= 5) {
                        alert("Bitte nur für vier Projekte anmelden")}}
                    </script>

                        Anmelden
                    </button>
                    <button
                        v-if="!event.removeSignUpButton && isSignedUp(event)"
                        @click="signOff(event._id)"
                        :style="{ borderColor: isDark(event) ? 'white' : 'black' }"
                    >
                        Abmelden
                    </button>
                    <img class="icon" src="/person.svg" :style="{ filter: isDark(event) ? 'invert(1)' : '' }">
                    <template v-if="!event.removeSignUpButton">{{ event.signups.length }}/</template>{{ event.capacity }}
                </div>

                Kontakt: {{ event.contactName }} {{ event.email }}
            </section>
        </section>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinycolor/1.4.1/tinycolor.min.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script>moment.locale('de')</script>
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="/app.js"></script>
</body>

</html>
