html, body, input, textarea, button {
    font-size: 12px;

    @media(--desktop) {
        font-size: 14px;
    }
}

@media(--desktop) {
    html, body, input, textarea, button {
        font-size: 14px;
    }
}

.login-overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 100%;

    background-color: #2b2f2a;
    color: white;

    transition: opacity 1s linear;
    opacity: 1;

    &.loggedin {
        opacity: 0;
        pointer-events: none;
    }
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-input {
    margin: 10px 30px;
    color: white;

    &::placeholder {
        color: #cccccc;
    }
}

.login-heading {
    font-size: 2.6em;
    font-weight: 200;

    @media(--desktop) {
        margin-bottom: 55px;
    }
}

.login-button:disabled {
    opacity: .3;
}

.content-tube {
    padding: 30px 8px;

    @media(--desktop) {
        padding: 30px calc((100vw - 960px) / 2);
    }

    @media(--large-desktop) {
        padding: 30px calc((100vw - 1180px) / 2);
    }
}

.calendar {
    display: none;

    @media(--desktop) {
        display: flex;
    }

    & > div {
        position: relative;

        width: calc((99.9% - 120px) * 1/10);

        &:first-child {
            width: 120px;
        }

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;

            min-height: 30px;
            text-align: center;
            vertical-align: middle;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            border-right: 1px solid rgba(0, 0, 0, 0.12);
        }

        & .day {
            height: 100px;

            font-size: 1.2em;
            background-color: rgb(43, 47, 42);
            color: white;
        }

        & .day-spacer {
            height: 100px;
        }

        & .timespan {
            font-size: .9em;
        }

        & .event {
            position: absolute;
            left: 0;

            flex-direction: column;
            justify-content: flex-start;

            width: 100%;
            background-color: rgba(43, 47, 42, .33);
            border-radius: 10px;
            opacity: .7;

            box-sizing: border-box;
            color: white;
            font-weight: 500;
            font-size: 1.3em;
            border-color: white;
            cursor: pointer;
        }
    }
}

@for $i from 1 to 23 {
    .offset-$(i)-slots {
        top: calc(100px + $(i) * 30px);
    }

    .span-$(i)-slots {
        height: calc($(i) * 30px);
    }
}

section.category {
    color: #000000;

    &:nth-of-type(1) section.event {
    }
}

section.event {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:nth-of-type(even) {
        align-items: flex-end;

        text-align: right;

        & .signup {
            flex-direction: row-reverse;
        }
    }

    & h1, & h2 {
        font-weight: 200;
    }

    & p {
        max-width: 650px;
    }

    & .signup {
        display: flex;
        align-items: center;

        font-size: 1.4em;
    }
}

img.icon {
    height: 35px;
    margin: 0 9px;
}

.article {
    @media(--desktop) {
        padding: 30px calc((100vw - 800px) / 2);
    }

    @media(--large-desktop) {
        padding: 30px calc((100vw - 800px) / 2);
    }

    & img {
        display: block;
        width: 100%;
    }
}

[v-cloak] {
    display: none;
}
